# GEMINI AI CONFIGURATION
# Required for Gemini AI API calls
GEMINI_API_KEY="MY_GEMINI_API_KEY"


# APPLICATION URL
# Production website URL
APP_URL="https://madecc-group.online"


# ADMIN SYSTEM & SECURITY
# Generate a strong random secret for JWT authentication
JWT_SECRET="8941dcad43256d5287486a3d19afac9049f714511062dd780bc3fb81f7f3e9de48163c8b55ce0bc57cf33ebfed11def1453b431d6e7b001db37eabc2bcbb9a63"


# SMTP CONFIGURATION (Nodemailer Gmail)
SMTP_HOST="smtp.gmail.com"

SMTP_PORT=587

SMTP_USER="madeccco5@gmail.com"

SMTP_PASSWORD="rpszjexnjjyaxkez"

SMTP_EMAIL="madeccco5@gmail.com"

SMTP_FROM="MADECC Group <madeccco5@gmail.com>"
